.select-account-page {
    .select-account {
      margin: auto;
      width: fit-content;
      &-form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        &-inputs {
          display: flex;
          gap: 24px;
        }
      }
    }
}